@font-face {
    font-family: "steampunk";
    src: url(fonts/steampunkdemobymartavaneck-lwee-webfont.woff2) format("woff2");
    src: url(fonts/steampunkdemobymartavaneck-lwee-webfont.woff) format("woff");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

body {
    background-image: url(img/zoltan-tasi-CLJeQCr2F_A-unsplash\ \(1\).jpg);
    height: 100vh;
    width: auto; 
}

.container{
    position: relative;
}

.formBackground {
    height: 100vh;
    width: 60vw;
    margin-left: auto;
    margin-right: 0;
    background-color: #121212;
    
}

.horizontalBar{
    background-image: linear-gradient(to right, rgba(40, 40, 40, 0.3), rgba(18, 18, 18, 0.01));
    width: 100vw;
    height: 17vh;
    position: absolute;
    top: 25%;
    transform: translate(0, -25%);
}

.logoContainer {
    height: 100%;
    position: relative;
    
}

.odinImg {
    height: 16vh;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 8.75vw;
    


}

.logoText {
    font-size: 14vh;
    color: white;
    font-family: "steampunk", sans-serif;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 15vw;
   
}
.headerText{
    padding: 13rem 12rem 1rem 12rem ;
}
.secondaryHeaderText {
    padding: 0 12rem 3rem 12rem ;
}


.headerText,
.secondaryHeaderText {
    color: white;
    font-size: 2.8vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    }



h2 {
    padding-bottom: 50px;
    font-size: 30px;
}

.form{
    padding: 0 8rem 0 12rem;
    }

label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
}

.formObject{
    display: inline-block;
    margin-right: 100px;
    }

input{
    width: 250px;
    height: 2rem;
    margin: 10px 0 20px 0;
    color: black;
    }

.submit {
    background-color: #ae8640;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    display: block;
    margin: 1.5vh 50vw 2vh 0;
    width: 250px;
    font-size: 1.2em;
    border-radius: 5px;
}

input:invalid {
    border: 2px solid red;
}

input:valid{
   border: 2px solid grey;
}

.logIn {
    color: #ae8640;
}

li p {
    margin-top: 1rem;
    font-size: 1.1rem;
}
